autopep8==1.3.1
Babel==2.4.0
blinker==1.4
chardet==2.3.0
ChatterBot==0.6.0
chatterbot-corpus==0.0.1
click==6.7
command-not-found==0.3
cycler==0.10.0
decorator==4.0.11
defer==1.0.6
defusedxml==0.5.0
distro-info===0.14build1
Flask==0.12.1
Flask-Babel==0.11.2
Flask-Login==0.4.0
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flup6==1.1.1
future==0.16.0
ipython==5.1.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.9.6
jsondatabase==0.1.7
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
lxml==3.6.4
MarkupSafe==1.0
matplotlib==2.0.1
nltk==3.2.2
numpy==1.12.1
oauthlib==2.0.2
pbr==3.0.0
pexpect==4.2.0
pickleshare==0.7.4
Pillow==3.3.1
prompt-toolkit==1.0.8
ptyprocess==0.5.1
pycodestyle==2.3.1
pycups==1.9.73
Pygments==2.1.3
pygobject==3.22.0
pymongo==3.4.0
pyparsing==2.2.0
python-apt==1.1.0b5
python-dateutil==2.6.0
python-debian==0.1.29
python-twitter==3.2.1
python3-openid==3.1.0
pytz==2017.2
PyYAML==3.11
reportlab==3.3.0
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.9
sqlalchemy-migrate==0.11.0
sqlparse==0.2.3
Tempita==0.5.2
traitlets==4.3.1
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.15.1
usb-creator==0.3.3
virtualenv==15.0.3
wcwidth==0.1.7
Werkzeug==0.12.1
Whoosh==2.7.4
WTForms==2.1
xkit==0.0.0
