<!DOCTYPE html>
<html lang="zh">
    <head>
        <title>nano的记事本</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link href="/static/css/blog/index.css" rel="stylesheet"> 
    </head>
    <body>
        <div class="side-bar">
            <div class="header">
                <a href="blog" class="logo">nano的记事本</a>
                <div class="intro">做一个绝世高手</div>
            </div>
            <div class="nav">
                <a href="about" class="item">关于我</a>
                <a href="contract" class="item">联系我</a>
            </div>
            <div class="tag-list">
                <a href="#" class="item">golang</a>
                <a href="#" class="item">python</a>
            </div>
        </div>
        <div class="main">
            <div class="article-list">
                <div class="item">
                    <a class="title" href="blog/test测试">test测试</a>
                    <div class="status">发布于：2015-07-01 | 阅读：100 | 标签： #golang</div>
                    <div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis fuga doloremque expedita obcaecati nesciunt qui nulla at unde ipsa tenetur aut voluptatem reprehenderit eligendi, ratione corporis magni repudiandae asperiores? Unde.</div>
                </div>
            </div>
        </div>
    </body>
</html>