<html>
<head>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>hwave的实验室</title>
    <link rel="stylesheet" href="/static/css/index.css" media="screen" title="no title" charset="utf-8">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <div class="logo">
    hwave的实验室
  </div>
  <div class="widget">
    <a href="/games/snake">贪吃蛇</a> <br>
    <a href="/markdown">Markdown解释器</a> <br>
    <a href="/blog">hwave的记事本</a> <br>
    <a href="/bootstrap">Bootstrap</a> <br>
    <!-- <a href="/mlmnist">手写数字识别</a> <br> -->
    <div id="mlmnist">手写数字识别</div> <br>
  </div>

<script>
  $(document).ready(function() {
    $('#mlmnist').click(function() {
        // let path = $('#mlmnist').val()
        // console.log(path)
        let htmlobj =  $.ajax({
            url: '/mlmnist', 
            type:'POST', 
            // data: path,
            cache: false,
            async:true, 

            success:function (str) {
            }})
    })
})
</script>
</body>
</html>
