<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/static/favicon.ico">
      <link rel="stylesheet" href="/static/css/monitor/logs.css" media="screen" title="no title" charset="utf-8">
      <meta name="new_msg" content="{{new_msg}}">
      <meta name="username" content="{{username}}">
    </head>
    <body>
        <div class="logs">
            {{all_msg|safe}}
        </div>
        <script type="text/javascript" src="/static/js/monitor/monitor.js"></script>
    </body>
</html>
