<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Markdown解释器</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/markdown/index.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <div id="text_title"></div>
        <div id="text"></div>
        <div id="markdown_title"></div>
        <div id="markdown"></div>
        <script src="/static/js/markdown/markdown.js"></script>
    </body>
</html>