body {
  background: #454545;
  color: #eee;
  line-height: 1.7;
}

html,body {
  /* height: 100%; */
}

.side-bar {
  float: left;
  width: 20%;
}

.side-bar > * {
   padding: 10px 15px; 
}

.side-bar .nav a,
.side-bar .tag-list a {
  display: block;
  padding: 5px;
  color:#999;
  transition: color 400ms;
}

.side-bar .nav a:hover,
.side-bar .tag-list a:hover {
  color:#eee;
}

.side-bar .nav a {
  font-weight: 700;
}

.side-bar .header .logo {
  border: 5px solid #eee;
  padding: 10px 20px;
  font-size: 30px;
  display: inline-block;
  margin-bottom: 10px;
  line-height: 1;
}

a {
  text-decoration: none;
}

.side-bar a {
  color: #eee;
}

.main a {
  color: #454545;
}

.main {
  float: right;
  width: 80%;
  height: 100%;
}

.main .article-list {
  padding: 20px 30px;
  margin-right: 25%;
  background: #fff;
  color: #454545;
  box-shadow: 0 0 3px 2px rgba(0,0,0,.2);
  height: 100%;
}

.main .article-list .item {
  margin-bottom: 25px;
}

.main .article-list .item > * {
  margin: 10px 0px; 
}

.main .article-list .item .title {
  font-size: 25px;
  font-weight: 700px;
}

.main .article-list .item .status {
  font-size: 13px;
  color: #ccc;
}

